<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>Filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>secondfilter</filter-name>
        <filter-class>Filters.secondfilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>secondfilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login_Data</servlet-name>
        <servlet-class>RequestData.Login_Data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forget_Password</servlet-name>
        <servlet-class>RequestData.Forget_Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InternalTest</servlet-name>
        <servlet-class>TestServelt.InternalTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExternalTest</servlet-name>
        <servlet-class>TestServelt.ExternalTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServelt</servlet-name>
        <servlet-class>Testpackage.LoginServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServelt</servlet-name>
        <servlet-class>Testpackage.LogOutServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServelt</servlet-name>
        <servlet-class>Testpackage.HomeServelt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login_Data</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forget_Password</servlet-name>
        <url-pattern>/forgetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InternalTest</servlet-name>
        <url-pattern>/internal/internalTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExternalTest</servlet-name>
        <url-pattern>/external/externalTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServelt</servlet-name>
        <url-pattern>/LoginServelt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServelt</servlet-name>
        <url-pattern>/LogOutServelt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServelt</servlet-name>
        <url-pattern>/HomeServelt</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
